.containerOutBoard {
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerBoard {
  margin-top: 12px;
  background-image: url("../../../img/Obj.jpg");
  min-width: 1800px;
  min-height: 950px;
  border-radius: 60px;
  border: 2px solid #000000;
}

.header {
  padding-top: 50px;
  justify-content: center;
  display: flex;
}
.iconOrganizer {
  background-image: url("../../../img/ORGANIZER.png");
  width: 600px;
  height: 75px;
}
